# Practical 8
Aim: Data Frames and Basic Data Pre-processing
(1) Read data from CSV and JSON files into a data frame.
(2) Perform basic data pre-processing tasks such as handling missing values and outliers.
(3) Manipulate and transform data using functions like filtering, sorting, and grouping.

## (1) Read data from CSV and JSON files into a data frame

In [1]:
import pandas as pd
import json
df = pd.read_csv("student.csv", names=["rollno", "name", "marks", "class"])
print(df.head())
with open("fruits.json") as f:
    data = json.load(f)
    print(data)

   rollno     name  marks  class
0       1     suja   80.0   tycs
1       2   aneeza   85.0   tycs
2       3    saima   90.0   tycs
3       4   serena    NaN   tycs
4       5   rehmah  100.0   tycs
{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

## (2) Perform basic data pre-processing tasks such as handling missing values and outliers.

In [6]:
import pandas as pd
df = pd.read_csv("student.csv", names=["rollno", "name", "marks", "class"])
print("Original Values: ")
print(df)
print("Missing Values Removed:")
print(df['marks'].fillna(df['marks'].mean()))
print("Handeling Outliers:")
# Find the IQR
Q1 = df['marks'].quantile(0.25)
Q3 = df['marks'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 0.5 * IQR
upper_bound = Q3 + 0.5 * IQR

# Replace outliers with the closest bound
df['marks'] = df['marks'].apply(lambda x: lower_bound if x < lower_bound else x)
df['marks'] = df['marks'].apply(lambda x: upper_bound if x > upper_bound else x)

# Print the updated DataFrame
print(df)
print(Q1,Q3)
print(lower_bound,upper_bound)

Original Values:
    rollno         name  marks  class
0        1         suja   80.0   tycs
1        2       aneeza   85.0   tycs
2        3        saima   90.0   tycs
3        4       serena    NaN   tycs
4        5       rehmah  100.0   tycs
5        1        dolly   60.0   sycs
6        2        milly   65.0   sycs
7        3        sally   70.0   sycs
8        4        ellie    NaN   sycs
9        5         mona   80.0   sycs
10       1        apple   40.0   fycs
11       2        mango   45.0   fycs
12       3       banana    NaN   fycs
13       4      chickoo   55.0   fycs
14       5   strawberry   60.0   fycs
Missing Values Removed:
0      80.000000
1      85.000000
2      90.000000
3      69.166667
4     100.000000
5      60.000000
6      65.000000
7      70.000000
8      69.166667
9      80.000000
10     40.000000
11     45.000000
12     69.166667
13     55.000000
14     60.000000
Name: marks, dtype: float64
Handeling Outliers:
    rollno         name  marks  class
0        1         suja   80.0   tycs
1        2       aneeza   85.0   tycs
2        3        saima   90.0   tycs
3        4       serena    NaN   tycs
4        5       rehmah   92.5   tycs
5        1        dolly   60.0   sycs
6        2        milly   65.0   sycs
7        3        sally   70.0   sycs
8        4        ellie    NaN   sycs
9        5         mona   80.0   sycs
10       1        apple   47.5   fycs
11       2        mango   47.5   fycs
12       3       banana    NaN   fycs
13       4      chickoo   55.0   fycs
14       5   strawberry   60.0   fycs
58.75 81.25
47.5 92.5

## (3) Manipulate and transform data using functions like filtering, sorting, and grouping.

In [9]:
import pandas as pd
import json

df = pd.read_csv("student.csv", names=["rollno", "name", "marks", "class"])
print(df.head())

with open("fruits.json") as f:
    data = json.load(f)
    print(data)

filtereddata=df[df['rollno']>2]
print("Filtering:")
print(filtereddata)

sorteddata= df.sort_values(by='marks')
print("Sorting:")
print(sorteddata)

groupeddata=df.groupby('class')['marks'].mean()
print("Grouping:")
print(groupeddata)

   rollno     name  marks  class
0       1     suja   80.0   tycs
1       2   aneeza   85.0   tycs
2       3    saima   90.0   tycs
3       4   serena    NaN   tycs
4       5   rehmah  100.0   tycs
{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}
Filtering:
    rollno         name  marks  class
2        3        saima   90.0   tycs
3        4       serena    NaN   tycs
4        5       rehmah  100.0   tycs
7        3        sally   70.0   sycs
8        4        ellie    NaN   sycs
9        5         mona   80.0   sycs
12       3       banana    NaN   fycs
13       4      chickoo   55.0   fycs
14       5   strawberry   60.0   fycs
Sorting:
    rollno         name  marks  class
10       1        apple   40.0   fycs
11       2        mango   45.0   fycs
13       4      chickoo   55.0   fycs
5        1        dolly   60.0   sycs
14       5   strawberry   60.0   fycs
6        2        milly   65.0   sycs
7        3        sally   70.0   sycs
0        1         suja   80.0   tycs
9        5         mona   80.0   sycs
1        2       aneeza   85.0   tycs
2        3        saima   90.0   tycs
4        5       rehmah  100.0   tycs
3        4       serena    NaN   tycs
8        4        ellie    NaN   sycs
12       3       banana    NaN   fycs
Grouping:
class
 fycs    50.00
 sycs    68.75
 tycs    88.75
Name: marks, dtype: float64