In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data = pd.read_csv("data.csv")
data

         data  tcs  wipro
0  01-01-2023  100     88
1  02-01-2023   97     89
2  03-01-2023   88     99
3  04-01-2023   83    101

In [3]:
x=data['tcs']
y=data['wipro']

In [4]:
n=stats.linregress(x,y)
print(n)

LinregressResult(slope=-0.8387096774193549, intercept=171.41129032258067, rvalue=-0.9853799910359939, pvalue=0.014620008964006058, stderr=0.10253887700408926, intercept_stderr=9.459454548245848)

In [5]:
s=n.slope
print("slope",s)
i =n.intercept
print("Intercept",i)

slope -0.8387096774193549
Intercept 171.41129032258067

In [6]:
pred_y = s*x + i
print(pred_y)

0     87.540323
1     90.056452
2     97.604839
3    101.798387
Name: tcs, dtype: float64

In [7]:
r_squared = n.rvalue
print(r_squared)

-0.9853799910359939